.container {
    width: 300px;
    padding: 10px;
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#snippet-list {
    max-height: 220px;
    overflow-y: auto;
    margin: 0;
    list-style-type: none;
}

li {
    margin: 5px 0;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    cursor: pointer;
}

li:hover {
    background-color: #e0e0e0;
}

.snippet-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.snippet-header h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    flex-grow: 1; 
}

.snippet-header .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #f44336;
    padding: 0;
    margin-left: 10px; 
}

.snippet-header .delete-button i {
    font-size: 16px;
}

.snippet-header .delete-button:hover {
    color: #d32f2f;
}

.snippet-content {
    display: none;
    margin-top: 10px;
}

li.active .snippet-content {
    display: block;
}

textarea.snippet-edit {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    display: none;
}

li.active textarea.snippet-edit {
    display: block;
}